# production / development
ENV=development
BASE_DOMAIN=localhost
CLIENT_DOMAIN=localhost:3000
FIRST_ADMIN_EMAIL=<first_admin_email>
ADMIN_KEYWORD=<random_string> # подтверждение критичных действий

# Billing
BILLING_MODE=on # off

# T-Bank Acquiring
TBANK_API_URL=https://securepay.tinkoff.ru/v2
TBANK_TERMINAL_KEY=<tbank_terminal_key>
TBANK_TERMINAL_PASSWORD=<tbank_password>
TBANK_PAYMENT_WEBHOOK_URL=<tbank_webhook_url>

# Api
HOST=0.0.0.0

# JWT
JWT_SECRET_KEY=<secure_key>
JWT_ACCESS_DURATION=1h
JWT_REFRESH_DURATION=168h

# DB
DB_HOST=postgres
DB_PORT=5432
DB_NAME=kroncl
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable

# Pgadmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=<secure_pass>

# MinIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=<secure_pass>
MINIO_ENDPOINT=minio:9000
MINIO_USE_SSL=false
MINIO_PUBLIC_BUCKET=public

# Unisender Go
UNISENDER_GO_API_URL=https://goapi.unisender.ru/ru/transactional/api/v1
UNISENDER_GO_API_KEY=<api_key>
UNISENDER_GO_NOTIFY_DOMAIN=notify@kroncl.com

# Gotenberg
GOTENBERG_ENDPOINT=http://gotenberg:3000
GOTENBERG_TEMPLATES_PATH=./templates

# Currency rates
CBR_API_URL=https://www.cbr-xml-daily.ru
COIN_GECKO_API_URL=https://api.coingecko.com/api/v3
COIN_GECKO_TOKEN=<coin_gecko_token>

# DaData
DADATA_API_URL=https://suggestions.dadata.ru/suggestions/api/4_1/rs
DADATA_API_KEY=<dadata_api_key>
DADATA_SECRET_KEY=<dadata_secret_key>