# Api
HOST=0.0.0.0

# JWT
JWT_SECRET_KEY=secure_key
JWT_ACCESS_DURATION=1h
JWT_REFRESH_DURATION=7d

# DB
DB_HOST=postgres
DB_PORT=5432
DB_NAME=kroncl
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SSLMODE=disable

# Pgadmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin

# Prometheus
SCRAPE_INTERVAL=15s
EVAL_INTERVAL=15s
API_SCRAPE_INTERVAL=10s

# Grafana
GRAFANA_USER=admin
GRAFANA_PASSWORD=secure_pass